* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn--green {
  background-color: rgb(73, 199, 73);
  border-radius: 30px;
  width: 90px;
}

.btn--red {
  background-color: rgb(199, 68, 16);
  border-radius: 30px;
  width: 90px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.event {
  background-color: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.reminder {
  border-left: 5px solid green;
}

.event h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
  text-align: right;
}

.form-control {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.form-control label {
  width: 100%;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  color: rgb(54, 54, 54);
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid rgb(212, 212, 212);
  color: rgb(82, 82, 82);
}

.form-control input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid rgb(212, 212, 212);
  color: rgb(82, 82, 82);
}

.form-control input::placeholder {
  color: rgb(185, 185, 185);
}

.btn--save {
  width: 100%;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.task {
  padding: 29px;
  background: #eae8e8;
  border-radius: 7px;
  box-shadow: 2px 3px 6px #a9a8a875;
  margin: 10px auto;
  color: #4e4949;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task__close {
  color: rgb(230, 67, 39);
  cursor: pointer;
}

.task p {
  padding: 4px;
}

.noTasks {
  color: gray;
  margin: auto;
  text-align: center;
  margin-top: 80px;
}

.mainHeader {
  background: rgb(26, 131, 105);
  color: white;
  font-size: 16px;
  padding: 15px 40px;
  margin-bottom: 40px;
}

.mainHeader a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.mainHeader__active {
  color: rgb(54, 54, 54) !important;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 2px solid rgb(54, 54, 54);
}

.page-container {
  padding: 20px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn-c {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #e74c3c;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
